<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Settings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div th:fragment="settingPage" th:if="${activePage == 'paymentMethod' || activePage == 'userAccount'}">
    <div class="d-flex">
        <!-- Sidebar Navigation -->
        <div class="ccolumn h">
            <div th:replace="~{adminPage/fragments/Setting/subsidebar :: subsidebarTab}" ></div>
        </div>

        <!-- Main Content Section -->
        <div class="container mt-4 ccolumn2 h">
            <div class="main-content">
                <!-- Dynamic Content based on Active Page -->
                <div th:switch="${activePage}">
                    <!-- User Account Section -->
                    <div th:case="'userAccount'">
                        <div th:replace="~{adminPage/fragments/Setting/user-account :: userAccountPage}"></div>
                    </div>

                    <!-- Payment Method Section -->
                    <div th:case="'paymentMethod'">
                        <div th:replace="~{adminPage/fragments/Setting/payment-method :: paymentMethodPage}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
