<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Giỏ Hàng</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Giỏ Hàng</h1>

    <div th:if="${not #lists.isEmpty(cartItems)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tên Món Ăn</th>
                <th>Số Lượng</th>
                <th>Giá Mỗi Món</th>
                <th>Tổng Giá</th>
                <th>Hành Động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cartItems}">
                <td th:text="${item.food.name}">Tên món ăn</td>
                <td th:text="${item.quantityOrdered}">Number</td>
                <td th:text="${#numbers.formatCurrency(item.food.price)}">Giá</td>
                <td th:text="${#numbers.formatCurrency(item.food.price * item.quantityOrdered)}">Tổng</td>
                <td>
                    <form method="post" th:action="@{/cart/items/delete/{cartItemId}(cartItemId=${item.id})}">
                        <input type="hidden" name="cartItemId" th:value="${item.id}" />
                        <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                    </form>

                </td>

            </tr>
            </tbody>
        </table>

        <form th:action="@{/cart/items/clear}" method="post"
              th:onsubmit="return confirm('Bạn có chắc muốn xóa toàn bộ giỏ hàng?');">
            <input type="hidden"/>
            <button type="submit" class="btn btn-danger">Clear all</button>
        </form>
    </div>

    <form th:action="@{/orders}" method="post"
          th:onsubmit="return confirm('Đặt hàng?');">
        <input type="hidden"/>
        <button type="submit" class="btn">Đặt hàng</button>
    </form>

    <div th:unless="${not #lists.isEmpty(cartItems)}" class="alert alert-info mt-3" role="alert">
        Giỏ hàng của bạn đang trống.
    </div>

    <a th:href="@{/dishes}" class="btn btn-secondary mt-3">Tiếp tục mua hàng</a>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
