<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật thành công</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 text-center">
    <div class="alert alert-success">
        <h4 class="alert-heading">Cập nhật tài khoản thành công!</h4>
        <p>Thông tin tài khoản của bạn đã được cập nhật.</p>
        <hr>
        <a href="/" class="btn btn-primary mt-3">Quay về trang chủ</a>
        <a href="/account" class="btn btn-secondary mt-3">Xem lại thông tin tài khoản</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
